<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess game</title>
    <script src="./public/js/script/Pieces.js"></script>
    <script src="./public/js/script/sketch.js"></script>
    <script src="./public/js/script/board.js"></script>
    <script src="./public/js/script/chess-ai.js"></script>
    <script src="./public/js/libraries/p5.js"></script>
    <script src="./public/js/libraries/p5.dom.js"></script>
    <script src="./public/js/libraries/p5.sound.js"></script>
</head>
<body>
    <h3>Control Panel</h3>
    <p id="displayMoves"></p>
    <button>+</button>
    <button>-</button>
</body>
</html>

<!-- https://github.com/lhartikk/simple-chess-ai -->
<!-- https://www.freecodecamp.org/news/simple-chess-ai-step-by-step-1d55a9266977/ -->